@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://rsms.me/inter/inter.css");

/* Global styles */

html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

::selection {
  background: #051574;
  color: white;
}

body {
  background-color: #fff;
  overscroll-behavior: none;
  overflow-x: hidden;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

/* Navbar */

nav {
  border: 0.1px solid #003;
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
  width: fit-content;
  position: fixed;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  margin-bottom: 1.5rem;
  display: flex;
  z-index: 4;
  box-shadow: 3.5px 5px 2.2px -39px rgba(0, 0, 0, 0.026),
    6.5px 9.5px 5.3px -39px rgba(0, 0, 0, 0.031),
    9.6px 13.9px 10px -39px rgba(0, 0, 0, 0.036),
    14.2px 20.6px 17.9px -39px rgba(0, 0, 0, 0.043),
    27.5px 39.9px 33.4px -39px rgba(0, 0, 0, 0.054),
    69px 100px 80px -39px rgba(0, 0, 0, 0.07);
}

.link {
  font-size: clamp(1em, 4vw, 1.25em);
  line-height: 1.5em;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  transition: opacity 0s linear;
  cursor: pointer;
}

.link.active {
  background: #000;
  color: #fff;
}

.cursor {
  background: #fff;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
}
