@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  background-color: #f2f2f2;
  overscroll-behavior: none;
}

::selection {
  background: #051574;
  color: white;
}

.App {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-flow: row-wrap;
  background-color: chocolate;
}

.box {
  width: 200px;
  height: 200px;
  margin: 10px;
  transition: background-color 0.2s ease-in-out;
  opacity: 0;
}

.inactive {
  background-color: pink;
  opacity: 1;
}

.active {
  background-color: green;
  opacity: 1;
}
