@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  background-color: #fafafa;
  overscroll-behavior: none;
  margin: 0 24px 0 24px;
}

::selection {
  background: #051574;
  color: white;
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
